@model Skibur.Web.Models.SkiburViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Skibur</title>
</head>
<body>
    <div>
    Hello World
    </div>
</body>
</html>
